*{
    
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
}


body{
    margin: 0;
    background: #EDF2C5;

}


.web{
    height: 580px;
    width: 1120px;
    
    
}
nav{
    width: 940px;
    height: 44px;
    margin-bottom: 15px;
    background-color: #778A50;
    border-radius: 3px; ;
}
h1{
    font-size: 44px;
    font-weight: 900;
    font-family: "Noto Sans", sans-serif;
    margin: 0px 0px 8px 0px;
    
}

#login-join {
    display: flex;
    gap: 10px; /* 控制 LOGIN 和 JOIN 按鈕之間的間隔 */
}

#social-icons {
    display: flex;
    gap: 10px; /* 控制 Facebook 和 Instagram 圖標之間的間隔 */
}




#ig{
    margin-left: 12px;
    margin-right: 12px;
}

.box{
    width: 940px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.link{

    display: flex;
    width: 208px;
    height: 24px;
    font-family: "Noto Sans", sans-serif;
    color:#778A50;
    margin: 0%;
    
    
}

.link img{
    width: 24px;
    height: 24px;  
}

#line{
    border-left: 1px solid #778A50;
    width: 0px;
    height: 24px;
}

#loginbutton  {
    display: flex;
    width: 62px;
    height: 27px;
    border-radius: 3px; /*線寬*/
    border: 1px solid #778A50;
    padding: 4px 8px 4px 8px; /*字跟框的間隔*/
    margin-left: 11px;  /*物體跟物體的間隔*/
    margin-right: 14px;
    align-items: center;   /*字體置中*/
    font-family: "Noto Sans", sans-serif ;
}

#joinbutton  {
    display: flex;
    width: 49px;
    height: 27px;
    border-radius:3px;
    border: 1px solid #778A50;
    padding: 4px 8px 4px 8px;
    align-items: center;
    font-family: "Noto Sans", sans-serif ;
}

header{
    color: #778A50;
    width: 940px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    margin-bottom:10px;
}

header div p{

    margin: 0%;
    color: #778A50;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif ;
    font-weight: 700;
    
}

.page {
    display: flex;
    flex-direction: row;
}

.page p{
    font-family: "Noto Sans", sans-serif;
    color: #EDF2C5;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    margin: 0px;

}

h6{
    color:#EDF2C5;
    background-color: #778A50;
    border-radius: 3px; /**/
    height: 45px;
    width: 445px;
    padding: 10px 30px; /**/
    margin-top: 0%; /**/
    margin-bottom: 16px; /**/
    font-size: 16px;
    font-weight: 900;
    font-family: "Noto Sans", sans-serif;
    line-height: 24px;
    line-height: 150%;/**/
}
.word{
    height: 140px;
    padding: 16px;
    background-color: #F7FBDA;
    width: 445px;
    height: 140px;
    padding: 20px;
}

.word p{   
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    color: #7D7D7D;
    line-height: 150%;
    margin: 0%;
    display: flex;
    justify-content: space-between; 
   

}
.allword{
    width: 445px;
    height: 140px;

    margin-left: 0;
    margin-right: 0;
}

footer{
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #778A50;
    margin-top: 153px;

}

footer p{
    font-family: "Noto Sans", sans-serif;
    color: #EDF2C5;
    font-size: 12px;
}
.pumpkin img{
   
    width: 940px;
    height: 448px;
    display: flex;
}

.Vagetables img{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    margin-right: 13px;
   
}

.Vagetables{   
    
    display: flex;
    height: 140px;
    width: 445px;

    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    float:right;
  
    
}

#vegetables-section{
    height: 140px;
    display: flex;
    justify-content: space-between;
    
}/**/

.bigbox{
    display: flex;
    width: 940px;
    justify-content: space-between;
   

    
}

article{
    display: flex;
    width: 1120px;
    height: 201px;
    margin-bottom: 117px;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


#line2{
    border-top: 1px solid #7D7D7D;
    height: 0px;
    width: 414px;
    margin-top: 8px;
    margin-bottom: 8px;

}